name: Django CI

on:
  pull_request:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Comando de sucesso
        run: ls /
          

      - name: Comando de Falha
        run: ls /nao/existe
